{% extends 'layout.twig' %}

{% block stylesheets %}
    <style>
        body{
            background-color: #343a40 !important;
        }
    </style>
    {{ parent() }}

{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3"><img src="img/marvel_logo.png" style="height:70px;width:200px;" alt=""></div>
                            <div class="col-md-3"></div>
                        </div>
                        <br>
                        <form class="" action="/login" method="post">

                            {% if error %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endif %}

                            <div class="form-label-group">
                                <label for="username">Login</label>
                                <input type="text" id="username" name="username" value="{{ last_username }}" placeholder="Login"  class="form-control" required autofocus/>
                            </div>

                            <div class="form-label-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" required/>
                            </div>
                            <div class="form-label-group" style="margin-top: 20px;">
                                <input type="hidden" name="_target_path" value="/"/>
                                <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">Se connecter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
